* {
  margin: 0;
  z-index: 1;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #d0f3e1;
  padding-top: 90px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  height: 500px;
  position: relative;
}

.gamebox {
  position: relative;
}

.field {
  width: 400px;
  height: 400px;
  border: black 1px solid;
  border-radius: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.322);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  width: 400px;
  height: 500px;
  border: black 1px solid;
  border-radius: 10px;
  background-color: rgba(102, 102, 102, 0.808);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cell {
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.945);
  border: 2px solid #1e1e1f;
  border-radius: 10px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1;
  cursor: pointer;
  color: rgba(71, 255, 209, 0.623);
}

.cell__img {
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.microcell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  background-color: #f5f834;
  border: 2px solid black;
  border-radius: 35%;
  font-size: auto;
}

.vol_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  background-color: #a2ff6c;
  font-size: 20px;
  outline: none;
  margin-left: 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.lang:hover {
  background-color: #53ff0f;
}

.dimension__block {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.dimension__box {
  margin-top: 70px;
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dimension__cell {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bdff43;
  font-size: 25px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}

.dimension__cell:hover {
  background-color: #59ff43;
  font-size: 35px;
}

.restart,
.loadgames,
.saving,
.continue,
.best,
.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 176px;
  height: 70px;
  border-radius: 40px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #faeb99;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  font-size: auto;
}

.restart:hover,
.loadgames:hover,
.saving:hover,
.continue:hover,
.best:hover,
.volume:hover {
  background-color: #b1ffec;
}

.saving {
  background-color: #ffd298;
}

.saving:hover {
  background-color: #ffbe6a;
}

.continue {
  background-color: #98ff9d;
}

.continue:hover {
  background-color: #54ff4e;
}

.loadgames {
  background-color: #b4c6ff;
}

.loadgames:hover {
  background-color: #70aeff;
}

.restart {
  background-color: #f0b4ff;
}

.restart:hover {
  background-color: #d63ffc;
}

.best {
  background-color: #9effe7;
}

.best:hover {
  background-color: #53ffd4;
}

.best__block {
  width: 300px;
  height: 100%;
  background-color: rgba(118, 221, 181, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px;
}

.best__h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgba(34, 243, 52, 0.562);
  font-size: 30px;
  font-family: "Arial", Courier, monospace;
  border-radius: 30px 30px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15%;
}

.best__list {
  height: 70%;
  width: 100%;
  background-color: rgba(95, 97, 11, 0.479);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best__back {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(49, 238, 134, 0.521);
  border-radius: 0 0 30px 30px;
}

.best__order {
  width: 100%;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ff24e2;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  margin-top: 4px;
}

.order__turns {
  font-family: "Courier New", Courier, monospace;
}

.order__min {
  font-family: "Verdana", Courier, monospace;
}

.order__sec {
  font-family: "Verdana", Courier, monospace;
}

.order__col {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Verdana", Courier, monospace;
  font-size: 13px;
}

.buttons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.saved_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(96, 79, 190, 0.521);
  width: 400px;
  height: 500px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
}

.saved_icon_left,
.saved_icon_right,
.saved_exit_icon {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 56px;
  height: 56px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 28px;
  border: 2px solid black;
  background-color: #fcc93d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 25px;
}

.saved_icon_left:hover,
.saved_icon_right:hover,
.saved_exit_icon:hover {
  background-color: #faf885;
}

.saved_del {
  font-size: 20px;
}

.saved_exit_icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.saved_exit_icon:hover {
  background-color: #faf885;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.saves_block {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  width: 300px;
  height: 300px;
  background-color: rgba(96, 79, 190, 0.212);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__info {
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  border-radius: 40px;
}

.card__box {
  width: 150px;
  height: 150px;
  background-color: #10250d;
  position: relative;
}

.card__start, .card__del {
  background-color: #99f82c;
  width: 80px;
  height: 26px;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.card__start:hover, .card__del:hover {
  background-color: #cdfa9a;
}

.card__del {
  background-color: #e68e3b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card__del:hover {
  background-color: #f31515;
}

.card_hidden {
  display: none;
}

.saves_control {
  width: 300px;
  height: 60px;
  background-color: rgba(65, 127, 243, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.saved__exit {
  width: 400px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(160, 125, 255, 0.507);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  border-radius: 10px;
}

.controller {
  width: 400px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d9e3e6;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.controller__timer, .controller__turning {
  height: 100%;
  width: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccfdd4;
}

.controller__pausen {
  height: 100%;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ccfdd4;
}

.unclickable {
  pointer-events: none;
}

.pause {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 25px;
  background-color: white;
  color: #020202;
  border: 2px solid #1a1816;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pause:hover {
  background-color: #173d49;
}

.turning {
  height: 50px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  border-radius: 25px;
  border: 2px solid #363636;
  color: black;
  background-color: #b8edff;
}

.timer {
  height: 50px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  border-radius: 25px;
  border: 2px solid #1b1b1b;
  color: #070707;
  background-color: #b8edff;
}

.empty {
  background-color: #df1f1f;
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}
